.container {
    width:500px;
    margin-left:auto;
    margin-right:auto;
    padding: 50px;
}

.row {
    overflow:hidden;
}

.col-4 {
    height: 150px;
    width:150px;
    float:left;
    border:#000 1px solid;
    box-sizing:border-box;
    text-align:center;
    line-height: 150px;
    font-size:2em;
}
